.title {
    text-align: center;
    background: green;
    color: white;
    font-size: 50px;
    font-family: "Monaco", Monospace;
}

ul {
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    background-color: yellow;
    font-family: "Papyuris", fantasy;
}